<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
			<typeAlias type="com.ebook.book.vo.AskVO" alias="Ask"/>
			<typeAlias type="com.ebook.book.vo.UserVO" alias="User"/>
			<typeAlias type="com.ebook.book.vo.BookVO" alias="Book"/>
 			<typeAlias type="com.ebook.book.guard.UserDetailsDto" alias= "Guard"/>
			<typeAlias type="com.ebook.book.vo.ReplyVO" alias="Reply"/>
			<typeAlias type="com.ebook.book.vo.ReadVO" alias="Read"/>
			<typeAlias type="com.ebook.book.vo.StarVO" alias ="Star"/>
			<typeAlias type="com.ebook.book.vo.LikeVO" alias="Like"/>
	</typeAliases>
	<mappers>
			<mapper resource="mappers/AskListMapper.xml"/>
			<mapper resource="mappers/UserMapper.xml"/>
			<mapper resource="mappers/BookMapper.xml"/>
			<mapper resource="mappers/GuardMapper.xml"/>
			<mapper resource="mappers/GuardListMapper.xml"/>
			<mapper resource="mappers/LikeMapper.xml"/>
	</mappers>
	
</configuration>
